body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}
#main-header {
    background-color: #333;
    color: #fff;
    padding-top: 30px;
    min-height: 70px;
    border-bottom: #77d42a 3px solid;
}
#main-header h1 {
    text-align: center;
    text-transform: uppercase;
    margin: 0;
    font-size: 24px;
}
#main-header h2 {
    text-align: center;
    margin: 0;
    font-size: 18px;
    color: #77d42a;
}
#main {
    margin-top: 20px;
    padding-bottom: 100px; /* Espaço extra para evitar que o conteúdo fique escondido atrás do footer */
}
.post {
    background: #fff;
    padding: 10px;
    border-bottom: 1px solid #ddd;
    margin-bottom: 10px;
    position: relative; /* Permite o posicionamento do label "Post" */
}
.post h2 {
    margin: 0;
}
.post p {
    font-size: 14px;
    line-height: 1.6;
}
#post-form {
    margin-top: 20px;
    background: #fff;
    padding: 10px;
    border: 1px solid #ddd;
}
#post-form input, #post-form textarea {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
}
#post-form input[type="submit"] {
    background: #333;
    color: #fff;
    cursor: pointer;
}

/* Estilo para o footer */
#main-footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
    clear: both; /* Limpa o float */
    width: 100%;
    bottom: 0;
    position: fixed;
}

#main-footer .container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row; /* Lado a lado */
}

#main-footer a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
}

#main-footer a:hover {
    text-decoration: underline;
}

/* Estilos adicionais para telas de login e signup */
.auth-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.auth-container {
    width: 300px;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.auth-container h2 {
    margin-bottom: 20px;
    color: #333;
}

.auth-container form {
    display: flex;
    flex-direction: column;
}

.auth-container label {
    margin-bottom: 5px;
    color: #555;
    text-align: left;
}

.auth-container input[type="text"],
.auth-container input[type="password"] {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 93%;
}

.auth-container input[type="submit"] {
    background-color: #5cb85c;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.auth-container input[type="submit"]:hover {
    background-color: #4cae4c;
}

.auth-container p {
    margin-top: 10px;
    color: #777;
}

.auth-container a {
    color: #5cb85c;
    text-decoration: none;
}

.auth-container a:hover {
    text-decoration: underline;
}

.auth-buttons {
    text-align: right;
}

.auth-buttons .btn {
    display: inline-block;
    padding: 10px 20px;
    margin: 10px;
    color: #fff;
    background-color: #5cb85c;
    border: none;
    border-radius: 4px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.auth-buttons .btn:hover {
    background-color: #4cae4c;
}
